<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Contact Client</h4>
    <form method="POST" action="{% url 'products:index' %}">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Title of the email" required>
        <br>
        <br>
        <input type="email" name="email" placeholder="The company E-mail address" required>
        <br>
        <br>
        <textarea name="message" placeholder="Message to be delivered" required></textarea>
        <br>
        <br>
        <button class="btn btn-primary mt-2" type="submit">Send</button>
        <br>
        <br>
    </form>
</body>
</html>